<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <strong>João Rocha</strong>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-light" href="/">
                    Home
                </a>
                <a class="button is-light" href="/cv">
                    CV
                </a>
                <a class="button is-light"href="/projects">
                    Projects
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>
