// Set font
$font-stack: Helvetica, sans-serif;


// Set colors
$primary: aquamarine;
$dark-primary: darken($primary, 20%);
$light-primary: lighten($primary, 20%);

$secondary:rebeccapurple;
$dark-secondary: darken($secondary, 20%);
$light-secondary: lighten($secondary, 20%);

