$background: aquamarine;
$dark-background: darken($background, 20%);
$light-background: lighten($background, 20%);

$outlines:rebeccapurple;

$font-stack: Helvetica, sans-serif;
$font-color: $outlines;
$dark-font-color: darken($font-color, 20%);
$light-font-color: lighten($font-color, 20%);

$redButton: #E0301A;

body {
    background: $background;
}
