package templates

templ About() {
	<main>
		<article class="article-body-section">
			<div class="article-body-section">
				<p>Hi, I'm João!</p>
				<p></p>
				<p>What's there to say about me?</p>
				<p>Actually not so much. I have a nice family, with which I enjoy spending my time with.</p>
				<p>I play some music although I don't think im so good at it.</p>
				<p>Sometimes in my free time I also program, but I feel like I need some inspiration.</p>
			</div>
		</article>
	</main>
}
