
package templates

import (
	"adamastor/internal/server/components"
	"adamastor/internal/server/utilities"
	"fmt"
)

var exp = utilities.HandleCVArticles()

templ CV() {
	<main>
		for i, position := range exp {
			if i > 0 {
				@components.ArticleCV(fmt.Sprint(i), "inactive", position.Institution, "/cv", position)
			} else {
				@components.ArticleCV(fmt.Sprint(i), "active", position.Institution, "/cv", position)
			}
		}
	</main>
}
