
package components

templ ArticleNav() {
	<div class="article-nav-section article-section">
		<button class="article-nav-button" type="button" onclick="handleLeftClick()">
			<i class="fa-solid fa-solid fa-arrow-left-long"></i>
		</button>
		<button class="article-nav-button" type="button" onclick="handleRightClick()">
			<i class="fa-solid fa-arrow-right-long"></i>
		</button>
	</div>
}
