
package components

import "strings"

templ ArticleTitle(title string) {
	<div class="article-title-section article-section">
		<h2><span class="hack-text" data-value={ strings.ToUpper(title) }>{ strings.ToUpper(title) }</span></h2>
	</div>
}
