
package components

templ ArticleSplash(style string) {
	<style type="text/css">
            background-image: url("assests/static/content/images/topography.svg");
    </style>
	<div
		class={ "article-splash-section article-section", style }
	></div>
}
