package components

templ ArticleProjects() {
	<div class="article-body-section article-section">
		<ul>
			<li hx-get="/littleprof">Little Professor Don't Sue Me Texas Instruments</li>
		</ul>
	</div>
}
