package components

templ ArticleProjectsBody() {
	<div class="article-body-section article-section" id="project-body">
		<ul>
			<li hx-get="/littleprofessor" hx-target="#project-body" hx-swap="outerHTML">Little Professor Don't Sue Me Texas Instruments</li>
		</ul>
	</div>
}
