package components

templ Navbar() {
	<nav>
		<div id="nav-logo-section" class="nav-section">
			<a href="/">
				<p>João</p>
			</a>
		</div>
		<div id="nav-contact-section" class="nav-section">
			GET IN TOUCH
		</div>
		<a href="https://www.linkedin.com/in/jo%C3%A3o-rocha-73968b173/">
			<i class="fa-brands fa-linkedin"></i>
		</a>
	</nav>
}
