package components

templ Navbar() {
	<nav>
		<div id="nav-logo-section" class="nav-section">
			<a href="/">
				<i class="fa-solid dumpster-fire"></i>
				<p>João</p>
			</a>
		</div>
		<div id="nav-contact-section" class="nav-section"></div>
	</nav>
}
