package components

templ Navbar() {
	<nav>
		<div id="nav-logo-section" class="nav-section">
			<a href="/">
				<img src="/static/content/images/caveira.svg"/>
			</a>
		</div>
		<div id="nav-contact-section" class="nav-section">
			<p>GET IN TOUCH</p>
			<a class="icon" href="https://www.linkedin.com/in/jo%C3%A3o-rocha-73968b173/">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</nav>
}
